@charset "UTF-8";

main {
    width: 600px;
    margin:0 auto;
    background-color: white;
   
   
}

body {
    background-color: burlywood;
}

main, header, article, footer {
    border: 1px solid darkred;
     padding:10px;
}

header {
    text-align: center;
    color:burlywood;
    font-size: 30px;
    background-image: url("1.jpg");
    height:200px;
}

footer {
    text-align: center;
    font-size: 12px;
}