@charset "UTF-8";

main {
    width: 600px;
    margin:0 auto;
    background-color: white;
   
   
}

body {
    background-color: burlywood;
}

main, header, article, footer {
    border: 1px solid darkred;
     padding:10px;
}

header {
    text-align: center;
    color:burlywood;
    font-size: 30px;
    background-image: url("1.jpg");
    height:200px;
}

footer {
    text-align: center;
    font-size: 12px;
}

table {
    width:100%;
    border-collapse: collapse;
}
 
table, td, th {
    border:1px solid darkred;
    padding:5px;
    text-align: center;

}
th {
    background:burlywood;
    color: darkred;
}

fieldset div {
  display: grid;
  grid-template-columns: 100px auto;
  padding: 5px;
}